:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-dark-gray: #494949;
  --color-light-gray: #7c7a7a;
  --color-bright-pink: #ff5d73;

  --color-blue-french: #1c77c3;
  --color-blue-picton: #39a9db;
  --color-blue-aero: #40bcd8;
  --color-orange-carrot: #f39237;
  --color-red-persian: #d63230;
  --font-mono-syne: "Syne Mono", monospace;
}
